.c {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    align-items: center;
    gap: 12px;
}

.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 180px;
    height: 52px;
    border-radius: 12px;
    border: solid 1px #444;
    user-select: none;
    cursor: pointer;
    padding-left: 12px;
}

.header:hover {
    background-color: #444;
}