.status_container {
    z-index: 9999999;
    position: fixed;
    top: 56px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;
}

.status {
    width: 32px;
    height: 32px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.status.active {
    display: flex;
}

.status:hover {
    background-color: #ffffff20;
}

.status:active {
    opacity: 0.5;
}